<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016, Yahoo Inc.
  ~ Licensed under the Apache License, Version 2.0
  ~ See LICENSE file in project root for terms.
  -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{1} \(%F:%L\) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse" level="INFO" />
    <logger name="com.yahoo" level="INFO" />
    <logger name="com.yahoo.elide.parsers" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
